.header {
   text-align: center;
}

.bpsInputs {
    display: flex;
    justify-content: center;
}

.bpsButton {
    transition: all 0.2s;
}

.boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.board {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 4px;
}

.middle-column {
    flex: 2;
}

.play-board {
    border: 10px solid black;
}

.selection {
    height: 64px;
}

.results-table {
    width: 500px;
    align-items: center;
    text-align: center;
}

.score {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.winner {
    background-color: gold;
}

.highlight {
    background-color: gold;
}

th, td {
    width: 30%;
}

.bpsButton:hover {
    transform: scale(1.2);
    filter: drop-shadow(6px 10px 4px rgb(0 0 0 / 0.4));
    /* change svg color ref: https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element */
    /* filter: invert(86%) sepia(17%) saturate(5329%) hue-rotate(347deg) brightness(91%) contrast(85%); */
    fill:#daa520
}