.header {
    display: flex;
    justify-content: center;
}

.bpsInputs {
    display: flex;
    justify-content: center;
}

.boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    text-align: center;
}

.board {
    display: flex;
    justify-content: space-around;
    width: 500px;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.middle-column {
    flex: 2;
}

.play-board {
    border: 10px solid black;
}

.selection {
    height: 64px;
}

.results-table {
    width: 500px;
    align-items: center;
    text-align: center;
}

.score {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.winner {
    background-color: gold;
}

.highlight {
    background-color: gold;
}

th, td {
    width: 30%;
}